<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Admin?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.email %></td>
    <td><%= user.is_admin %></td>
    <% if current_user?(user) %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    
    <% if current_user.is_admin? %>
    <td> <%= link_to "delete", user, :method => :delete, :confirm => "You sure?", :title => "Delete #{user.username}" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
