<h1>
  <%= @user.username %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<! This is the sidebar for the profile page of the user !>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.username %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.username %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>

	<table>
	<caption>Most Recent Submitted Bookmarks</caption>
	  <tr>
	    <th>Title</th>
	    <th>Url</th>
	    <th>user id</th>
	  </tr>

	<% @my_bookmarks.each do |bookmark| %>
	  <tr>
	    <td><%= bookmark.title %></td>
	    <td><%= bookmark.url %></td>
	    <td><%= bookmark.user_id %></td>
	  </tr>
	<% end %>
	</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
