<h1>Search Bookmarks by <%= @search_type%></h1>
 
  <%= form_tag 'search', :method => 'get', :id => "bookmarks_search" do %>
  <!-- The radio button submits the search type we want to do -->
    <div class="form_row">
    <label for="theme">Search:</label><br />
    <% [ 'tags', 'title' ].each do |search_type| %>
      <%= radio_button_tag 'search_type', search_type, @search_type == search_type %>
      By
      <%= search_type.humanize %>
    <% end %>
    </div>
 
    <p>
    <%= text_field_tag :search, params[:search], :autocomplete => :on %>
    <%= submit_tag "Search" %>
    </p>
    
  <% end %>
  <!-- .jquery dynamically fills this div. We got real time search babe!!! :) -->
  <div id="bookmarks"><%= render 'search_bookmarks' %></div>
  <%= will_paginate @bookmarks%>


