<h1>biMarks, because even the bookmarks can be bi.</h1>
<p>fuck you i won't do what you tell me</p>
revision 1


<center>
<table width=500>
<tr>
<td>

	<table >
	<caption>Most Recent</caption>
	  <tr>
	    <th>Title</th>
	    <th>Url</th>
	  </tr>

	<% @bookmarks_most_recent.each do |bookmark| %>
	  <tr>
	    <td><%=  bookmark.title %></td>
	    <td><%= bookmark.url %></td>
	    <td><%= bookmark.created_at %></td>
	  </tr>
	<% end %>
	</table>
</td>
<td>
	<table >
	<caption>Favorites</caption>
	  <tr>
	    <th>Title</th>
	    <th>Url</th>
	  </tr>

	<% @bookmarks_most_rated.each do |bookmark| %>
	  <tr>
	    <% if bookmark.title == "porno" %> <td><%= bookmark.title %></td>
	    <td><%= bookmark.url %></td> <% end %>
	  </tr>
	<% end %>
	</table>
</td>
</tr>
</table>
</center>

