<h1>biMarks, because even the bookmarks can be bi.</h1>
<p>fuck you i won't do what you tell me</p>
revision 1


<% if signed_in? %>
	<p><%= button_to "New bookmark", new_bookmark_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %></p>
<% end %>

  <%= form_tag 'search', :method => 'get', :id => "bookmarks_search" do %>
  <!-- The radio button submits the search type we want to do -->
    <div class="form_row">
    <label for="theme">Search:</label><br />
    <% [ 'tags', 'title' ].each do |search_type| %>
      <%= radio_button_tag 'search_type', search_type, @search_type == search_type %>
      in
      <%= search_type.humanize %>
    <% end %>
    </div>
 
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    </p>
    
  <% end %>



<center>
	<table width=500><style>table</style>
<tr>
<td>

	<table>
	<caption>Most Recent</caption>
	  <tr>
	  <th>Title</th>
	  <th>url</th>
		<th>Submitted at</th>
		<th>Submitted by</th>
		<th>Average Rating</th>
	  </tr>

	<%= render @bookmarks_most_recent %>
	</table>
</td>

<td>
	<table >
	<caption>Favorites</caption>
	  <tr>
	  <th>Title</th>
	  <th>url</th>
		<th>Submitted at</th>
		<th>Submitted by</th>
		<th>Average Rating</th>
	  </tr>

	<%= render @bookmarks_top_rated %>
	</table>
</td>

</tr>
</table>
</center>

