<h1>biMarks, because even the bookmarks can be bi.</h1>
<p>fuck you i won't do what you tell me</p>

  <p>
  <% if signed_in? %>
	  <%= button_to "New bookmark", new_bookmark_path, :method => :get,:class => "buttonto orange" %>
  <% else %>
    <%= link_to "Register now to submit a new bookmark", register_path %>
  <% end %>
  
  <div id="tagcloud" class="round">
    <% for tag in @tag_unique  %>
      <span  class="tag<%= tag.count>3?3:tag.count%>"><%= link_to tag.name, tag %></span>
    <% end %> 
  </div>

<ul id="tablist">
<li><a href="Mose Recent" onClick="return expandcontent('sc1', this)" theme="#add8e6">Most Recent</a></li>
<li><a href="Top Rated" onClick="return expandcontent('sc2', this)" theme="#e2f385">Top Rated</a></li>
<li><a href="Search" onClick="return expandcontent('sc3', this)" theme="#6b746e">Search</a></li>
</ul>

<DIV id="tabcontentcontainer">

<div id="sc1" class="tabcontent">
<table>
	  <tr>
	  <th>Title</th>
	  <th>url</th>
		<th>Submitted at</th>
		<th>Submitted by</th>
		<th>Rating</th>
	  </tr>
	  <%= render @bookmarks_most_recent %>
</table><br />
</div>

<div id="sc2" class="tabcontent"  >
<table>
	  <tr>
	  <th>Title</th>
	  <th>url</th>
		<th>Submitted at</th>
		<th>Submitted by</th>
		<th>Rating</th>
	  </tr>
	  <%= render @bookmarks_top_rated %>
</table>
</div>

<div id="sc3" class="tabcontent">
 <%= form_tag 'search', :method => 'get', :id => "bookmarks_search" do %>
  <!-- The radio button submits the search type we want to do -->
    
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :class => "buttonto white small"  %>  

      <% end %>
        <div class="form_row">
    <label for="theme"></label>
    <% [ 'tags', 'title' ].each do |search_type| %>
      <%= radio_button_tag 'search_type', search_type, @search_type == search_type %>in
      <%= search_type.humanize %>
    <% end %>
    </div>  
</div>

</DIV>






