<header>
  <% logo = image_tag("logo.jpg", :alt => "biMarks", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
    <li><%= link_to "Home", root_path %></li>
	  <% if signed_in? %>
		  <li><%= link_to "Profile", current_user %></li>
		  <li><%= link_to "Log out", logout_path, :method => :delete %></li>
	  <% else %>
      <li><%= link_to "Register", register_path %></li>
      <li><%= link_to "Log In", login_path %></li>
	  <% end %>
	  <% if admin? %>
	    <li><%= link_to "Admin Page", admin_path %></li>
	  <% end %>
    </ul>
  </nav>
</header>
