<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= javascript_include_tag :defaults, 'jquery-1.6.2', 'jquery.validate.min', 'jquery.alphanumeric.pack', 'application', 'jquery_application', 'autocomplete-rails.js', 'rails.js' %> 

    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>


<link rel="alternate" type="application/rss+xml" title="RSS" href="http://0.0.0.0:3000/rss" />
    <div class="container" >


      <%= render 'layouts/header' %>
      <section class="round" >
	  <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        <%= yield %>
      </section>
	
	 <%= render 'layouts/footer' %>
	
</div>
  </body>
</html>
