<HTML>


<!-- This is a partial for creating the short view of bookmarks - for using in lists etc !-->
<tr class="bookmark">
    <td><%= link_to bookmark.title, bookmark %></td>
    <td><a href="http://<%=bookmark.url %>" target="_blank"><%= bookmark.url %></a></td>
    <td><%= time_ago_in_words(bookmark.created_at) %> ago</td>
    <td><%= bookmark.user.username %></td>

<% if current_user?(bookmark.user) %>
    <td>
    <%= link_to "Destroy", bookmark, :method => :delete,
                                     :confirm => "Fo' real?",
                                     :title => bookmark.title %>
  </td>
  <% end %>

</tr>
