<!-- This is a partial for creating the short view of bookmarks - for using in lists etc !-->
      <tr class="bookmark">
    	<td><%= link_to bookmark.title, bookmark %></td>
   	  <td><a href="<%=bookmark.url %>" target="_blank"><%= bookmark.url %></a></td>
    	<td><%= time_ago_in_words(bookmark.created_at) %> ago</td>
    	<td><%= link_to bookmark.user.username, bookmark.user %></td>
	    <td><%= bookmark.avg_rating %> from <%= pluralize(bookmark.count_ratings,"vote") %></td>
      <% if signed_in? && (current_user?(bookmark.user)|| current_user.is_admin?) %>
          <td>
          <%= link_to "Destroy", bookmark, :method => :delete,
                                     :confirm => "Fo' real?",
                                     :id => bookmark.id %>
          </td>
         <% end %>
</tr>
