<section id="rating" class="ratings">
		<%= form_for @current_user_rating, :bookmark => @bookmark do |f| %>
		
                <div id="ratingbox">Rate <strong><%= @bookmark.title %></strong>:</caption>
                    <ul style="list-style: none;" id="ratingbuttons">
                      <% # We add this hidden field to add a bookmark_id %>
                      <%= hidden_field_tag(:bookmark_id, @bookmark.id) %>
                      <li><%= f.radio_button :stars, "5" %><span>Excellent</span></li>
                      <li><%= f.radio_button :stars, "4" %><span>Very Good</span></li>
                      <li><%= f.radio_button :stars, "3" %><span>Good</span></li>
                      <li><%= f.radio_button :stars, "2" %><span>Average</span></li>
                      <li><%= f.radio_button :stars, "1" %><span>Poor</span></li>  
                    </ul>
                    <div class="center"><%= submit_tag "Rate!" %></div>
                </div>
            <%end %>
</section>
