<HTML>
<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Added</th>
    <th>Submitted by</th>
    <th>Average Rating</th>
  </tr>
<% for bookmark in @bookmarks %>
<!-- This is a partial fro creating the short view of bookmarks - for using in lists etc !-->
<tr class="bookmark">
    	<td><%= link_to bookmark.title, bookmark %></td>
    	<td><a href="<%=bookmark.url %>" target="_blank"><%= bookmark.url %></a></td>
    	<td><%= time_ago_in_words(bookmark.created_at) %> ago</td>
    	<td><%= bookmark.user.username %></td>
	    <td><%= bookmark.avg_rating %></td>
      <% if current_user?(bookmark.user) %>
        <td><%= link_to "Destroy", bookmark, :method => :delete,
                                      :confirm => "Fo' real?",
                                      :title => bookmark.title %>
        </td>
      <% end %>

</tr>
<% end %>
</table>

