<p>
  <b>Comments:</b><br/>
  <ul style="list-style: none;" class = "Comment_list"  >
    <% for comment in @comments do %>
     <p> <li><%= comment.content %></li>
      by: <%= comment.user.username %> | <%= time_ago_in_words(comment.created_at) %> ago |

      <% if comment.flagged %> this shit is flagged 
      <% else %>
      <%= link_to "Flag it!", flag_comment_path(comment), :method => :post, :remote => 'true' %><% end%>     </p>
      <% end %>
      <%= will_paginate @comments %>
  </ul>
</p>
<HTML>
