<h1>Listing bookmarks</h1>





<%= form_tag bookmarks_path, :method => 'get', :id => "bookmarks_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
 
<% end %>



<%= will_paginate %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Q review</th>
    <th>Date</th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.title %></td>
    <td><%= bookmark.url %></td>
    <td><%= bookmark.q_review %></td>
    <td><%= bookmark.created_at %></td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <% if (current_user == bookmark.user) %><td><%= link_to 'Destroy', bookmark, :confirm => 'Are you sure?', :method => :delete %></td><%end %>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate %>
<%= link_to 'New Bookmark', new_bookmark_path %>
