<h1>Listing bookmarks</h1>

<table class ="pretty">
  <tr>
    <th><%= sortable "title" %></th>
    <th><%= sortable "url"%></th>
    <th><%= sortable "created_at", "Submitted at"%></th>
    <th><%= sortable "owner", "Submitted by"%></th>
    <th><%= sortable "avg_rating", "Rating"%></th>
    </tr>    <div id="bookmarks"><%= render @bookmarks %></div>  
  <%= will_paginate @bookmarks %><br /> </table>

<%= link_to 'New Bookmark', new_bookmark_path %>
