<h1>Listing bookmarks</h1>





<%= form_tag bookmarks_path, :method => 'get', :id => "bookmarks_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
 
<% end %>



<%= will_paginate %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Added</th>
    <th>Submitted by</th>
    <th>Average Rating</th>
  </tr>

	<%= render @bookmarks %>
</table>

<br />
<%= will_paginate %>
<%= link_to 'New Bookmark', new_bookmark_path %>
