<html>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bookmark.title %>
</p>

<p>
  <b>Url:</b>
  <a href="<%= @bookmark.url %>" target="_blank"> <%= @bookmark.url %></a>
</p>

<p>
  <b>Q review:</b>
  <%= @bookmark.q_review %>
</p>

<p>
  <b>Submitted at:</b>
  <%= @bookmark.created_at %>
</p>

<p>
  <b>Average Rating:</b>
  <%= @bookmark.avg_rating %> from <%= @bookmark.count_ratings %> votes.
</p>

<ul class="stars floatstars">
	<li class="yellowstars" style="width: <%= @bookmark.avg_rating * 25 %>px !important;"></li>
	<li class="text"><%= @bookmark.avg_rating %> average from <%= pluralize(@bookmark.count_ratings, "vote") %></li>
    </ul>

<!-- Only signed in users can rate a bookmark -->

<%= render 'ratings_form' %>


<!-- Only the owner can delete a bookmark -->

<% if current_user?(@bookmark.user) %>
<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |<% end%>
<%= link_to 'Back', bookmarks_path %>
