<html>
<p id="notice"></p>
<div id = "details" class="boxleft round">
    <%= render 'show_details' %>
</div>


<div class="boxright round">
<p>
<ul class="stars floatstars">
	<li class="yellowstars" style="width: <%= @bookmark.avg_rating * 25 %>px !important;"></li>
        <li class="text"><%= @bookmark.avg_rating %> average from <%= pluralize(@bookmark.count_ratings, "vote") %></li>
    </ul>
</p>
<% if signed_in? %><p><%= render 'ratings_form' %></p><% end %>
<!-- Only signed in users can rate a bookmark -->
</div>

</br></br>

<div class="boxcomments round">
<% if signed_in? %><p><%= render 'comments_form' %></p><% end %>


<% if !(@bookmark.comments.empty?) %>
 <div id = "comments"> <%= render 'show_comments' %></div>
<% end %>


</div></br>

<!-- Only the owner can delete a bookmark -->
<%= render 'bookmark_footer' %>

